@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
* {
  font-size: 10px;
}
#timeline .hero{
  width: 100%;
  height: 590px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-end strong{
  margin-left: 0.2rem;
}
/*================================== YEARS STYLES ================================= */
#timeline .menu{
height: 250px;
font-family: Rubik;
font-size: 1em;
font-weight: 500;
line-height: 3.13;
text-align: right;
}
#timeline .active-fontsize{
  font-size: 1.7em;
  line-height: 1.67;
}
/*================================== YEARS ================================= */
#timeline .years{
  background-image: url("../images/Timeline-Page/14.png");
}
#timeline .description-years{
 height: 145px;
}

#timeline .years p{
  margin-bottom: 0.5rem;
  font-family: Rubik;
  font-size: 1.5em;
  line-height: 1.2;
  word-spacing: 0.1rem;
}
#timeline .hero-body h1{
  max-width: 466px;
  min-width: 300px;
  font-family: Rubik;
  font-size: 3em;
  line-height: 1.17;
  font-weight: normal;
  margin-bottom: 0.5em  !important;
}

/*================================== YEARS-1993 ================================= */
#timeline .year-1993{
  background-color: #223085;
 /* background-image: url("/images/Timeline-Page/12.png");*/
}
#timeline .description-1993{
 height: 87px;
}
#timeline .year-1993 p{
  font-family: Rubik;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.42;
}

/*================================== YEARS-1995 ================================= */
#timeline .year-1995{  
  background-image: url("../images/Timeline-Page/4.png");
}
#timeline .description-1995{
  height: 101px;
}
#timeline .description-1995 p{
  font-family: Rubik;
  font-size: 1.2em;
  line-height: 1.42;
}
#timeline .description-1995 span{
  display: flex;
}

/*================================== YEARS-1996 ================================= */
#timeline .year-1996{
  background-image: url("../images/Timeline-Page/8.png");
}
#timeline .description-1996{
  height: 92px;
}
/*================================== YEARS-1999 ================================= */
#timeline .year-1999{ 
  background-image: url("../images/Timeline-Page/17.png");
}
#timeline .description-1999 .column p{
  font-family: Rubik;
  font-size: 1.2em;
  line-height: 1.42;
  max-width: 320px;
  word-spacing: 0.1rem;
}
 /*================================== TIMELINE ================================= 
.timeline-ul{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height:100vh;
}
.timeline-circle-before{
 	if you dont want the above line display none 
	display: block;
	width: 2px;
	height: 50%;
	background-color: #fff;
}
.timeline-circle-after{
	 	if you dont want the bottom line display none 
	display: block;
	width: 2px;
	height: 50%;
	background-color: #fff;
}

.timeline-circle {
	list-style-type: none;
	height: 10px;
	width: 10px;
	background-color: #fff;
	border-radius:100%;
} */
 
/*=================================== MEDIA QUERIES =================================*/
@media screen and (max-width: 768px) {
  #timeline  .hero {
    background-size: auto;
    /* background-position: left; */
  }
  #timeline .hero-body h1{
    font-size: 2.5em;
  }
  #timeline .years p{
    font-size: 1.3em;
  }
  #timeline .active-fontsize{
    font-size: 1.4em;
    line-height: 1.67;
  }
  #timeline .years p #timeline .year-1999 p{
  font-size: 1.3em;
  }
}